.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #c9d0f5;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #fe962e;
}

/* width */
.custom-scrollbar-grey::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.custom-scrollbar-grey::-webkit-scrollbar-track {
  background-color: #c9d0f5;
}

/* Handle */
.custom-scrollbar-grey::-webkit-scrollbar-thumb {
  background: #fe962e;
}